<!DOCTYPE html>
<html>
<head>
  <title>Perepiska</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="span2">
      <div class="row">
        <div class='emails'>
          <%= render 'layouts/emails' %>
        </div>
      </div>
      <div class="row">
        <div class='email_messages'>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row">
        <div class='email_message_body'>
        </div>
      </div>
      <div class="row">
        <div class='email_message_body_control'>
          <%= render 'layouts/email_message_body_control' %>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="row">
        <%= render 'layouts/admin_head' %>
      </div>
      <div class="row">
        <%= render 'layouts/admin_body' %>
      </div>
    </div>
  </div>
</body>
</html>
